In [43]:
import pandas as pd

df = pd.read_csv("UsedCarsSA_Unclean_EN.csv")
df.head()

,Link,Make,Type,Year,Origin,Color,Options,Engine_Size,Fuel_Type,Gear_Type,Condition,Mileage,Region,Price,Negotiable
0,https://syarah.com/%D9%83%D8%B1%D8%A7%D9%8A%D8...,Chrysler,C300,2018,Saudi,Black,Full,5.7,Gas,Automatic,Used,103000,Riyadh,114000,False
1,https://syarah.com/%D9%86%D9%8A%D8%B3%D8%A7%D9...,Nissan,Patrol,2016,Saudi,White,Full,4.8,Gas,Automatic,Used,5448,Riyadh,Negotiable,True
2,https://syarah.com/online/%D9%86%D9%8A%D8%B3%D...,Nissan,Sunny,2019,Saudi,Silver,Standard,1.5,Gas,Automatic,Used,72418,Riyadh,27500,False
3,https://syarah.com/online/%D9%87%D9%88%D9%86%D...,Hyundai,Elantra,2019,Saudi,Grey,Standard,1.6,Gas,Automatic,Used,114154,Riyadh,43000,False
4,https://syarah.com/online/%D9%87%D9%88%D9%86%D...,Hyundai,Elantra,2019,Saudi,Silver,Semi Full,2.0,Gas,Automatic,Used,41912,Riyadh,59500,False

In [44]:
# Shape (rows, columns)
print("Shape of dataset:", df.shape)

Shape of dataset: (8248, 15)

In [45]:
# Column data types + null counts
print("\nInfo:")
print(df.info())

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8248 entries, 0 to 8247
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Link         8248 non-null   object
 1   Make         8248 non-null   object
 2   Type         8248 non-null   object
 3   Year         8248 non-null   int64
 4   Origin       8153 non-null   object
 5   Color        8248 non-null   object
 6   Options      8139 non-null   object
 7   Engine_Size  5982 non-null   float64
 8   Fuel_Type    8248 non-null   object
 9   Gear_Type    8174 non-null   object
 10  Condition    8248 non-null   object
 11  Mileage      8248 non-null   int64
 12  Region       8248 non-null   object
 13  Price        8248 non-null   object
 14  Negotiable   8248 non-null   bool
dtypes: bool(1), float64(1), int64(2), object(11)
memory usage: 910.3+ KB
None

In [46]:
# Check missing values
print("\nMissing values per column:")
print(df.isnull().sum())

Missing values per column:
Link              0
Make              0
Type              0
Year              0
Origin           95
Color             0
Options         109
Engine_Size    2266
Fuel_Type         0
Gear_Type        74
Condition         0
Mileage           0
Region            0
Price             0
Negotiable        0
dtype: int64

In [47]:
# Quick statistics for numeric columns
print("\nSummary statistics:")
print(df.describe().T)

Summary statistics:
              count           mean            std     min      25%       50%  \
Year         8248.0    2014.014064       5.935349  1936.0   2012.0    2016.0
Engine_Size  5982.0       3.175794       1.567480     1.0      2.0       2.7
Mileage      8248.0  149412.813531  345525.845645   100.0  37000.0  101657.5

                  75%         max
Year           2018.0      2022.0
Engine_Size       4.0         9.0
Mileage      195552.0  20000000.0